<div class="main-left">

                <div id="left-banner-wrapper">
                    <div class="left-banner">
                        <div class="left-banner-text-link">
                            <span class="badge">
                                <i class="bx bx-future"></i>
                                <span>Latest 24hours</span>
                            </span>
                            <a href="">
                                <div class="name">
                                    <p class="hover-selector">Dandadan</p>
                                    <span>Yukinobu Tatsu</span>
                                </div>
                                <div class="analytics">
                                    <p class="hover-selector">#223</p>
                                    <span>433.7K</span>
                                </div>
                            </a>
                        </div>
                        <div class="left-banner-img-link">
                            <span class="badge">
                                <i class="bx bx-future"></i>
                                <span>Latest 24hours</span>
                            </span>

                            <a href="">
                                <img src="https://jumpg-assets.tokyo-cdn.com/secure/title/100171/title_thumbnail_main/312232.jpg?hash=m_vhLi3GSUNLHNXwv1XUpA&expires=2145884400"
                                    alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="top-cards-grid-container">

                    <div class="card-container">
                        <div class="banner-container">

                            <div class="card-hover-banner">
                                <div class="card-hover-banner-top">
                                    <p>MAD</p>
                                    <p>Yusuke Otori</p>
                                </div>
                                <div class="card-hover-banner-bottom">
                                    <p>#040</p>
                                    <p>Chapter 40: Counterattack</p>
                                    <p>92.6K</p>
                                </div>
                            </div>

                            <a href="">
                                <span class="badge">
                                    <i class="bx bx-future"></i>
                                    <span>Latest 24hours</span>
                                </span>
                                <img src="https://jumpg-assets.tokyo-cdn.com/secure/title/100328/title_thumbnail_portrait_list/357406.jpg?hash=-ThfCxlmR46hL4JZIldFHA&expires=2145884400"
                                    alt="">
                            </a>

                        </div>
                        <div class="text-container">
                            <a href="">
                                <p>MAD</p>
                                <div class="analytics">
                                    <p>#040</p>
                                    <span>92.4K</span>
                                </div>
                            </a>

                        </div>
                    </div>

                    <div class="card-container">
                        <div class="banner-container">

                            <div class="card-hover-banner">
                                <div class="card-hover-banner-top">
                                    <p>Delinquent Gacha</p>
                                    <p>Hiroshi Shimomoto</p>
                                </div>
                                <div class="card-hover-banner-bottom">
                                    <p>#010</p>
                                    <p>#10 ON WATCH.PON.</p>
                                    <p>58.0K</p>
                                </div>
                            </div>

                            <a href="">
                                <span class="badge">
                                    <i class="bx bx-future"></i>
                                    <span>Latest 24hours</span>
                                </span>
                                <img src="https://jumpg-assets.tokyo-cdn.com/secure/title/100628/title_thumbnail_portrait_list/456823.jpg?hash=Nf_KjnLz8A-5Jp2mdTwhYg&expires=2145884400"
                                    alt="">
                            </a>

                        </div>
                        <div class="text-container">
                            <a href="">
                                <p>Delinquent Gacha</p>
                                <div class="analytics">
                                    <p>#010</p>
                                    <span>58.0K</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="banner-container">

                            <div class="card-hover-banner">
                                <div class="card-hover-banner-top">
                                    <p>.A -dot Alice-</p>
                                    <p>Takuya Nishio</p>
                                </div>
                                <div class="card-hover-banner-bottom">
                                    <p>#005</p>
                                    <p>Chapter 5: Website and fourth dimensional pocket</p>
                                    <p>103.0K</p>
                                </div>
                            </div>

                            <a href="">
                                <span class="badge">
                                    <i class="bx bx-future"></i>
                                    <span>Latest 24hours</span>
                                </span>
                                <img src="https://jumpg-assets.tokyo-cdn.com/secure/title/100644/title_thumbnail_portrait_list/462428.jpg?hash=0C1Txa3iCXinVE37TTde6g&expires=2145884400"
                                    alt="">
                            </a>

                        </div>
                        <div class="text-container">
                            <a href="">
                                <p>.A -dot Alice-</p>
                                <div class="analytics">
                                    <p>#005</p>
                                    <span>103.0K</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="banner-container">

                            <div class="card-hover-banner">
                                <div class="card-hover-banner-top">
                                    <p>Island Rock</p>
                                    <p>Manose / Miharu</p>
                                </div>
                                <div class="card-hover-banner-bottom">
                                    <p>#003</p>
                                    <p>Chapter 3: Todo and the bike</p>
                                    <p>103.0K</p>
                                </div>
                            </div>

                            <a href="">
                                <span class="badge">
                                    <i class="bx bx-future"></i>
                                    <span>Latest 24hours</span>
                                </span>
                                <img src="https://jumpg-assets.tokyo-cdn.com/secure/title/100646/title_thumbnail_portrait_list/464267.jpg?hash=HV91ObE8WkFKXYK6DYCysg&expires=2145884400"
                                    alt="">
                            </a>

                        </div>
                        <div class="text-container">
                            <a href="">
                                <p>Island Rock</p>
                                <div class="analytics">
                                    <p>#003</p>
                                    <span>52.7K</span>
                                </div>
                            </a>

                        </div>
                    </div>

                    <div class="card-container">
                        <div class="banner-container">

                            <div class="card-hover-banner">
                                <div class="card-hover-banner-top">
                                    <p>Re/Member: The Last Night</p>
                                    <p>Welzard / Katsutoshi Murase / Harumi Doki and Yuki Hara</p>
                                </div>
                                <div class="card-hover-banner-bottom">
                                    <p>#023</p>
                                    <p>Chapter 23</p>
                                    <p>24.7K</p>
                                </div>
                            </div>

                            <a href="">
                                <span class="badge">
                                    <i class="bx bx-future"></i>
                                    <span>Latest 24hours</span>
                                </span>
                                <img src="https://jumpg-assets.tokyo-cdn.com/secure/title/100533/title_thumbnail_portrait_list/433891.jpg?hash=7cxsUiTNhnqEOWXmT6lb3g&expires=2145884400"
                                    alt="">
                            </a>
                        </div>
                        <div class="text-container">
                            <a href="">
                                <p>Re/Member: The Last Night</p>
                                <div class="analytics">
                                    <p>#023</p>
                                    <span>24.7K</span>
                                </div>
                            </a>

                        </div>
                    </div>

                </div>

                <div class="carousel-container">
                    <div class="carousel">
                        <div class="carousel-item">
                            <a href="">
                                <img src="https://jumpg-assets.tokyo-cdn.com/secure/top_banner/465755.jpg?hash=DsyIOdI8ZYpyte-xMikIBw&expires=2145884400"
                                    alt="">
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="">
                                <img src="https://jumpg-assets.tokyo-cdn.com/secure/top_banner/464708.jpg?hash=JWvP-erUXv3FQ7gkG1OQdw&expires=2145884400" alt="">
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="">
                                <img src="https://jumpg-assets.tokyo-cdn.com/secure/top_banner/465755.jpg?hash=DsyIOdI8ZYpyte-xMikIBw&expires=2145884400"
                                    alt="">
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="">
                                <img src="https://jumpg-assets.tokyo-cdn.com/secure/top_banner/464762.jpg?hash=ry3E25U3rlF60t1NSMpehQ&expires=2145884400"
                                    alt="">
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="">
                                <img src="https://jumpg-assets.tokyo-cdn.com/secure/top_banner/458651.jpg?hash=nAjvh_q333rE5zq8o4QCCw&expires=2145884400"
                                    alt="">
                            </a>
                        </div>

                    </div>
                </div>

            </div>


            <div id="main-right">

            </div>