<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title>     -->

    <link rel="stylesheet" href="/styles/main-left.css">

</head>

<body>

    <section id="main">
        <div id="main-container">

            <%- include("main-left.ejs") %>

        </div>
    </section>


    <script src="/scripts/slider.js"></script>
</body>

</html>