

footer {
    background-color: black;
    /* width: 100vw; */
    padding: 24px 0px;
}

.footer-container {
    /* outline: 1px solid white; */
    width: 94vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;

    gap: 24px;
}

.footer-top {
    /* outline: 1px solid red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: white;
    /* height: 64px; */
    width: 94vw;    
    gap: 24px;
}

.footer-top-left img {
    height: 64px;
    display: block;
}


.footer-top-right { 
    /* outline: 1px solid yellow; */
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer-top-right-img {
    /* outline: 2px solid palegoldenrod; */
    display: flex;
    align-items: center;
}

.footer-top-right-img img {
    height: 40px;
}


.footer-mid {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    /* font-weight: 400; */
}

.footer-mid-links {
    flex-grow: 1;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    
}

.footer-mid-links a {
    color: rgba(180, 180, 180);
    transition: 0.3s;
}

.copyright {
    padding-top: 24px;
    color: rgba(180, 180, 180);
    margin: auto;
    display: flex;
    align-items: center;
}

.footer-mid-links a:hover {
    color: rgba(131, 131, 131);
}


@media(max-width:1280px) {
    .footer-mid {
        flex-direction: column;
        gap: 24px;
    }

    .socials-container {
        padding-top: 32px;
    }

}




@media(max-width:768px) {

    .footer-top {
        justify-content: center;
        gap: 14px;
    }

    .footer-mid-links {
        grid-template-columns: repeat(2, 1fr);
    }


    .footer-top-right {
        flex-direction: column;
        align-items: start;
        flex-grow: 0;
        gap: 4px;
    }

    .footer-top-right span {
        font-size: 12px;
    }


}

