#main-right {
    /* outline: 2px solid blue; */
    width: 320px;
    margin-left: 40px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 300px;
}

.socials-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 9px;
}

.socials-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}

.socials-container > span {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
}

.links-container {
    display: flex;
    gap: 16px;
    padding-bottom: 4px;
}

.links-container a {
    height: 31px;
    width: 31px;
    background-color: white;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.leaderboard-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.leaderboard-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
}

.leaderboard-header > span {
    font-size: 24px;
    font-weight: 600;
}

.leaderboard-header > a { 
    display: flex;
    align-items: center;
}

.leaderboard-cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.leaderboard-card-container a {
    display: flex;
    gap: 15px;
    align-items: center;
}

.leaderboard-card-img {
    height: 90px;
    border-radius: 4px;
    overflow: hidden;

}

.leaderboard-card-container img {
    height: 100%;
}

.leaderboard-card-container > a > :nth-child(2) {
    font-size: 22px;
    font-weight: 700;
    color: rgba(151, 151, 151);
} 

.leaderboard-card-text > span {
    display: block;
}

.leaderboard-card-text > :nth-child(1) {
    font-size: 16px;
    font-weight: 600;
}

.leaderboard-card-text > :nth-child(2) {
    font-size: 12px;
    font-weight: 500;
    color: rgba(151, 151, 151);
}

.leaderboard-card-text > :nth-child(3) {
    font-size: 12px;
    font-weight: 500;
}

.leaderboard-card-container:hover {
    filter: brightness(0.78);
}