body.activeSidebar {
    /* touch-action: none; */
    overflow: hidden;
}

#sidebar-container {
    /* outline: 2px solid white; */
    position: fixed;
    overflow: scroll;
    top: 70px;
    height: calc(100vh - 70px);
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: white;


    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(30px);

    font-family: "Poppins", sans-serif;

    display: none;
}

.separation {
    border: 2px solid #1f1f1f;
    width: 100%;
}

#sidebar-main {
    /* outline: 10px solid red; */
    width: 92vw;
    padding: 14px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;

    font-family: inherit;
}

#sidebar-main a span {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

#sidebar-container.open {
    display: flex;
}

#sidebar-sec {
    width: 94vw;
    padding: 21px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;

    font-size: 15px;
    font-weight: 500;
}

.sidebar-socials {
    /* outline: 2px solid white; */
    width: 95vw;
    /* background-color: black; */
    
    padding: 12px 0px;
    display: flex;
    justify-content: center;
}

.sidebar-socials > .socials-container {
    /* background-color: white; */
    /* outline: 2px solid red; */
    background-color: #1f1f1f;
    width: 100%;
    border-radius: 9px;
    padding: 12px 0px;
}



